<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.0" targetFramework="net452" />
  <package id="DeviceId" version="5.2.0" targetFramework="net452" />
  <package id="log4net" version="2.0.12" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net452" />
  <package id="NAudio" version="1.10.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="PresentationFramework.Aero2" version="1.0.1" targetFramework="net452" />
  <package id="System.Data.SqlServerCe_unofficial" version="4.0.8482.1" targetFramework="net452" />
</packages>